<<<<<<< HEAD
.center{
    padding: 5px;
    margin: 10px;
    
}
=======
/* .center{
    padding: 5px;
    margin: 10px;
    
} */
>>>>>>> 9e7861934b4d88386c4585c4ea372644789e67c5

.button{
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #FFBD59;
    padding: 10px 20px;
    margin: 5px;
    width: auto;
    font-weight: bold;
    transition: 0.2s;
}

.button:hover{
    background-color: #ed940d;
<<<<<<< HEAD
=======
}

.Homepage{
    height: 100vh;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: bottom;
>>>>>>> 9e7861934b4d88386c4585c4ea372644789e67c5
}