/* .container {
    display: flex;
    min-height: 100vh;
    width: 100%;
} */

.main {
    padding: 20px;
    text-align: right;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 83%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
}

.column {
    padding: 20px;
    text-align: "center";
    font-size: 1em;
}

.header {
    background-color: #5a5653;
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

.cardsConteiner{
    width: calc(100vw - 220px);
    padding: 10px 50px;
    height: 20px;
    margin-left: 220px;
    display: flex;
    gap: 10px;
}