.form_div2{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_styled2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
    text-align: center;
    background-color: #363434;
    border-radius: 20px;
    padding: 30px;
  }

  .form_styled2 input[type='text'],
  .form_styled2 input[type='date'],
  .form_styled2 input[type='password'] {
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  padding-left: 100px;
  float: right;
}


.button{
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #FFBD59;
    padding: 10px 20px;
    width: 50%;
    font-weight: bold;
    transition: 0.2s;
}

.button_personal{
  position:absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  width: fit-content;
}

.button:hover{
    background-color: #ed940d ;
}

.base_text{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.base_text p span{
  cursor:pointer;
}

 label{
    width: 80%;
    margin-bottom: 10px;
  }


  label p{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight:bolder;
    text-align: start;
    margin-bottom: 5px;
  }



