<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: grey;
}
=======
*{
  margin: 0;
  padding: 0;
}
>>>>>>> 41c900c353ee6437314a07e0f956d689500e99ca
